body {
  background: linear-gradient(to bottom, #e3f2fd, #f4f4f4);
  color: #274066;
  font-family: "Roboto", sans-serif;
}

.hero-section {
  text-align: center;
  padding: 60px;
  background: linear-gradient(120deg, #8ec5fc, #e0c3fc);
  color: white;
}
/* Floating Button */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #274066;
  color: white;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  flex-direction: column;
}
.floating-btn:hover {
  background-color: #274066;
  transform: scale(1.1);
}
.floating-btn svg {
  width: 30px;
  height: 30px;
}
.floating-btn span {
  font-size: 15px;
  margin-top: 4px;
}
#clear-canvas {
  background-color: #274066;
}
.section {
  padding: 40px 20px;
}

.art-card {
  transition: transform 0.3s ease;
  width: 100%;
  max-width: 400px; /* Set maximum width for each card */
  height: 550px; /* Set consistent height */
  margin: 0 auto 20px auto; /* Center cards and add spacing */
}

.art-card img {
  width: 100%;
  height: 70%; /* Take up 70% of the card height */
  object-fit: cover; /* Ensures the image covers the space without distortion */
}

.art-card:hover {
  transform: scale(1.05);
}

.container section p {
  text-align: center;
  justify-content: center;
}

.interactive-section {
  padding: 40px 20px;
}

#interactive-canvas {
  border: 1px solid #ddd;
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  height: 400px;
}

#dynamic-art {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto;
  transition: transform 0.5s ease;
}

footer {
  text-align: center;
  padding: 20px;
  background: #274066;
  color: white;
}

@media (max-width: 768px) {
  .hero-section {
    padding: 40px 20px;
  }
  .floating-btn {
    width: 70px;
    height: 70px;
  }
  .floating-btn span {
    font-size: 12px;
  }
  #interactive-canvas {
    width: 90%;
  }
}
