html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(45deg, #141e30, #243b55);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container-fluid {
  position: relative;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  font-size: 4vw;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
  animation: float 3s ease-in-out infinite;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.neuron-network {
  width: 100%;
  height: 100%;
}

.neuron {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(circle, #98f0ae, #16a085);
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.neuron.grow {
  z-index: 1000;
  transition: transform 2s ease, background-color 1s ease;
  transform: scale(50); /* Grow to cover the screen */
  background-color: #267474;
}

.connections {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}

svg line {
  stroke-width: 1;
}

@media (max-width: 768px) {
  .neuron {
    width: 50px;
    height: 50px;
  }

  .title {
    font-size: 6vw;
  }

  .message-box {
    font-size: 1rem !important;
  }
}
